@brand-primary: rgba(59,109,140,1);
@brand-secondary: rgba(153,65,61,1);

@gray-lighter: rgba(242,242,242,1);

@font-family-sans-serif: "Cabin", Helvetica;

@icon-font-path: "/vendor/twbs/bootstrap/fonts/";

@navbar-default-color: #ffffff;
@navbar-default-link-color: #ffffff;
@navbar-default-bg: @brand-primary;
@navbar-default-border:  @brand-primary;
@navbar-border-radius: 0;
@navbar-margin-bottom: 0;

@nav-pills-border-radius: 0;
@nav-pills-active-link-hover-bg: darken(@brand-primary, 10%);
