{% extends "base.twig" %}
{% block content %}
{{ jumbo.jumbotron(title) }}
<div class="container-fluid {{page}}-content">
  	<div class="col-md-12">
          {% markdown %}{{ body }}{% endmarkdown %}
	</div>
	<div id="directory" class="col-md-12">

	</div>
</div>
{% endblock %}
{% block source %}downloads.twig{% endblock %}
{% block footer %}
<script>
	$(".{{page}}-content div#directory").load("/idoe_data/index.php");
</script>
{% endblock %}
