{% extends "base.twig" %}
{% block content %}
{{ jumbo.jumbotron(title) }}
<div class="container-fluid {{page}}-content">
	<div class="col-md-6 col-md-offset-3">

	</div>
</div>
{% endblock %}
{% block source %}downloads.twig{% endblock %}
{% block footer %}
<script>
	$(".{{page}}-content div").load("/idoe_data/index.php");
</script>
{% endblock %}