{% extends "base.twig" %}
{% block content %}
{{ jumbo.jumbotron(text) }}
<div class="container-fluid trifecta">
	<div class="col-xs-12 col-sm-4">
		<a href="demos">
			<span class="glyphicon glyphicon-eye-open"></span>
			<h3>Demos</h3>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a href="docs">
			<span class="glyphicon glyphicon-cloud"></span>
			<h3>API</h3>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a href="data">
			<span class="glyphicon glyphicon-floppy-save"></span>
			<h3>Data</h3>
		</a>
	</div>
</div>
{% endblock %}